body {
    background: linear-gradient(
         to bottom,
        #000000 0%,
        #000000 20%,
        #030303 35%,
        #0b0b0b 50%,
        #171717 65%,
        #242424 82%,
        #303030 100%
    );
    padding-top: 40px;
}

.light-effect {
    width: 110%;
    height: 110%;
    border-radius: 60%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 245, 227, 0.4) 35%,
        rgba(255, 255, 255, 0.15) 60%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: blur(50px);
    z-index: 0;
}

.text-yellow{
    color: #e6e27a;
}

.navbar-bg{
background-color: #414141;
}

.text-glow{
filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    z-index: 0;
}

body {
    padding-top: 130px;
}

section {
    scroll-margin-top: 40px;
}

#section2 {
    padding-bottom: 150px;
}

.mitr-medium {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}


.noto-serif-thai-white {
  font-family: "Noto Serif Thai", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #ffffff;
}

.hero-left-text {
    padding-top: 80px;
}

    /* ================= การจัดหน้ากระดาษ ================= */
    .section1

   .book-page{
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;

        min-height: 580px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 80px 60px;
}
    

    /* ================= ข้อความบนกระดาษ ================= */
    .book-text {
        font-family: "Noto Serif Thai", serif;
        text-align: center;
        font-size: 28px;
        line-height: 2;
        color: #111;
    }

    /* ================= พื้นที่ปุ่ม ================= */
    .book-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .next-button {
        display: table;
margin-left: auto;
        justify-content: flex-end;
        
    }

    .back-button {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

    

    /* ================= ปุ่ม ================= */
    .book-button {
        border: none;
        border-radius: 50px;
        background-color: white;
        color: #111;
        padding: 18px 55px;
        font-family: "Mitr", sans-serif;
        font-size: 25px;
        cursor: pointer;
        }

    /* ================= SECTION 2 ================= */

    .section2-title {
        color: white;
        font-size: 60px;
        margin-bottom: 50px;
    }

    .section2-content {
    background-color: #000;
    color: white;
    padding: 35px 80px;
    margin-bottom: 25px;
    margin-top: 40px;
    border-radius: 0 30px 30px 0;
    text-align: left;
}

    .section2-content h3 {
        font-family: "Mitr", sans-serif;
        font-size: 30px;
        margin-bottom: 25px;
        color: #ffffff;
    }

    .section2-content p {
        font-family: "Noto Serif Thai", serif;
        font-size: 22px;
        line-height: 1.8;
        margin-bottom: 0;
        color: #ffffff;
    }

    /* ================= SECTION 3 ================= */

    .section3-title {
        font-family: "Mitr", sans-serif;
        color: white;
        font-size: 60px;
        margin-bottom: 50px;
        text-align: left;
    }

    .section3-content p {
    font-family: "Noto Serif Thai", serif;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: left;
    color: #ffffff ;
}
    
    .section3-quote {
        font-family: "Mitr", sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.8;
        margin-top: 10px;
        color: #ffffff ;
    }

    
    /* ================= footer ================= */

    .footer-bg {
    position: relative;
    background-color: #000000;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.footer-bg::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../images/footerขาวๆ2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 130%;


    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 15));
    z-index: 0;
}

.footer-content {
    position: relative;
    z-index: 1;
}
